body{
  max-width: 100%;
  background-color: green;
  overflow-y: hidden;
}

.game-play{
  display: flex;
  justify-content: space-between;
}

.options{
  background-color: grey;
  height: 100vh;
  width: 50%;
  margin: -10px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.score{
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}
