body{
  background-color: green;
  max-width: 100%;
  overflow-y: hidden;
}

button:hover{
  cursor: pointer;
}

.gameplay{
  display: flex;
  justify-content: space-evenly;
}

.options{
  align-items: center;
  background-color: grey;
  display:flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin: -10px;
  width: 50%;
}

.gameplay-buttons{
  border-radius: 10px;
  height: 60px;
  margin-bottom: 15px;
  width: 150px;
}

.rock,
.scissor,
.paper,
.bird,
.worm,
.water{
  border-radius: 15px;
  margin-left: -5px;
  width: 115px;
}

.weapon-button{
  border-radius: 25px;
  height: 120px;
  width: 120px;
}

.weapons{
  display: grid;
  gap:10px;
  grid-template-columns: 115px 115px;
}

.classic-margin{
  margin-left: 60px;
}

.score{
  align-items: center;
  display:flex;
  height: 100vh;
  flex-direction: column;
}

.choose-character{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.big-button{
  border-radius: 30px;
  font-size: 35px;
  height: 180px;
  inline-size: 180px;
  overflow-wrap: break-word;
  width: 180px;
}

.character-buttons{
  display: flex;
  justify-content: space-evenly;
  width:100%;
}

.title{
  font-size: 50px;
  margin-top: -200px;
  margin-bottom: 100px;
}

.rules{
  border-radius: 15px;
  font-size: 25px;
  margin-top: 15px;
  width: 180px;
}

.game-selection{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.game-modes{
  display: flex;
  justify-content: space-evenly;
  width:100%;
}

.classic-game-button,
.malaysian-game-button{
  display: flex;
  flex-direction: column;
}

.player-score{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.computer-score{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.game-characters{
  margin-top: 175px;
}

.gameplay-text{
  font-size: 40px;
}

.play-button{
  content: 'PLAY'
}

.hidden{
  display: none;
}
