body{
  max-width: 100%;
  background-color: green;
  overflow-y: hidden;
}

button:hover{
  cursor: pointer;
}
.game-play{
  display: flex;
  justify-content: space-between;
}

.options{
  background-color: grey;
  height: 100vh;
  width: 50%;
  margin: -10px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.score{
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.choose-character{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-selection{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-modes{
  display: flex;
}

.game-button{
  display: flex;
  flex-direction: column;
}

.hidden{
  display: none;
}
